*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

meta[name="description"] {
            max-width: 1000px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
}

body{
    background-color: rgb(36, 40, 44);
}

/* Main nav */
.nav ul{
    word-spacing: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.nav ul li{
    display: inline;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    color: white;
    transition: all 1s;
    text-decoration: underline rgb(36, 40, 44);
}

/* PC nav*/

.nav .PC ul li a:hover{
    text-decoration: underline #FC6D6D;
}

#lang{
    color: #fa6161;
}

/* Mobile nav*/

.nav .Mobile {
    display: none;
}

/* Main */

.Main{
    color: white;
}

.mainspan1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    font-size: 3.5em;
    margin-bottom: 2em; /* Adjusted for responsiveness */
}

.mainspan2{
    color: #FC6D6D;
    margin-bottom: 2em;
}

.Main .button{
    font-size: 1rem;
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all 1s;
    margin-bottom: 10px;
}

.Main .button:hover{
    font-size: 1.7vw;
    color: #FC6D6D;
    border-color: #FC6D6D;
}

.Main .social-media{
    position: absolute;
    margin-left: 35vw;
}

.Main .CV {
    position: absolute;
    margin-left: 57vw;
}

.summary{
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 1.5em;
}

.summary p a{
    color: #FC6D6D;
    
}


/* Main dynamic text */

.wrapper{
    text-align: center;
}

.dynamic-txts{
    color: #FC6D6D;
    margin-left: 20em;
    list-style-type: none;
    margin-top: -1.3em;
}

/* Experinece */

.exp{
    margin-top: 100px;
    
}

.exp h2{
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box{
    width: 200px;
    height: 150px;
    background-color: rgb(61, 61, 61) !important;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 150px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 6vw;
    margin-right: 6vw;
    transition: color 0.5s;
    transition: all 1s;
}

.flex-box:hover{
    background-color: #fa6161 !important;
    color: rgb(233, 227, 227);
    cursor: pointer;
}

/* Projects */

.projects{
    margin-top: 40px;
}

.projects h1{
    color: white;
    text-align: center;
    
}

/* Contact */

.contact {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vw;
  }
  
  .contact h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  .contact label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: white;
  }
  
  .contact input[type="text"],
  .contact input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FC6D6D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 45px;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #f35050;
  }

/* footer */

footer{
    background-color: #3b4248;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h1, h2 ,h3{
    color: white;
}

.div1{
    position: absolute;
    padding-top: 5vw;
    margin-left: 10vw;
    text-align: center;
    font-size: 1vw;
}

.div2{
    padding-top: 5vw;
    margin-left: 40vw;
    text-align: center;
    padding-bottom: 2vw;
    font-size: 1vw;
}

footer h1{
    font-size: 2vw;
    color: #FC6D6D;
}

.div3{
    text-align: center;
    font-size: 1vw;
}

#div-item{
    margin-bottom: 1vw;
    font-size: 1em;
    
}

.div-item{
    transition: all 0.5s ease;
}

.div-item:hover{
    color: #fa6161;
}

@media only screen and (max-width: 600px){

    .PC{
        display: none;
    }

    .Mobile{
        display: inline;
    }
}


@media only screen and (max-width: 600px){

    .PC{
        display: none;
    }

    .Mobile{
        display: inline;
    }

    .Main h1{
        font-size: 3em;
    }

    .Main .button{
        font-size: 1.5em;
    }

    .Main .social-media{
        margin-left: 20vw;
    }

    .Main .CV {
        margin-left: 40vw;
    }

    .summary{
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .dynamic-txts{
        margin-left: 0em;
    }

    .exp h2{
        font-size: 2em;
    }

    .flex-box{
        width: 100%;
        height: 150px;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .contact {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 5vw;
      }

      .contact input[type="text"],
      .contact input[type="email"] {
        width: calc(100% - 20px);
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      .contact input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #FC6D6D;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 45px;
      }

      .contact input[type="submit"]:hover {
        background-color: #f35050;
      }

      footer h1{
        font-size: 1.5em;
        color: #FC6D6D;
    }

    .div1{
        position: absolute;
        padding-top: 5vw;
        margin-left: 5
    }


